<div class="draggable-item-container">
  <div class="form-item" [ngClass]="activeId === drawingItem.__config__.formId ? 'active-form-item' : ''" *ngIf="drawingItem.__config__.tag === 'input'">
    <nz-form-item>
      <nz-form-label [nzSm]="drawingItem.__config__.sm">
        {{drawingItem.__config__.label}}
      </nz-form-label>
      <nz-form-control [nzSm]="24 - drawingItem.__config__.sm">
        <input type="text" nz-input
               [placeholder]="drawingItem.placeholder"
               [(ngModel)]="drawingItem.__config__.defaultValue"
        >
      </nz-form-control>
    </nz-form-item>
  </div>
  <div class="form-item" [ngClass]="activeId === drawingItem.__config__.formId ? 'active-form-item' : ''" *ngIf="drawingItem.__config__.tag === 'textarea'">
    <nz-form-item>
      <nz-form-label [nzSm]="drawingItem.__config__.sm">
        {{drawingItem.__config__.label}}
      </nz-form-label>
      <nz-form-control [nzSm]="24 - drawingItem.__config__.sm">
        <textarea nz-input
                  [placeholder]="drawingItem.placeholder"
                  [(ngModel)]="drawingItem.__config__.defaultValue"
                  [nzAutosize]="{ minRows: drawingItem.minRow, maxRows: drawingItem.maxRow }"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
