<div class="form-generator-container">
  <div class="left-board">
    <div class="components-list" *ngFor="let item of leftComponents">
      <div class="component-title">
        <i class="iconfont icon-component"></i>{{item.title}}
      </div>
      <div class="component-draggable"
           [sortablejs]="item.list"
           [sortablejsOptions]="sourceOptions"
           [sortablejsCloneFunction]="onEnd"
      >
        <div class="components-item"
             *ngFor="let ele of item.list"
             (click)="addComponent(ele)"
        >
          <div class="components-body">
            <i [ngClass]="'iconfont icon-' + ele.__config__.tagIcon"></i>{{ele.__config__.label}}
          </div>
        </div>
      </div>
    </div>
    <button nz-button nzType="primary" (click)="showData()">查看数据</button>
  </div>
  <div class="center-board">
    <div class="drawing-board"
         [sortablejs]="drawingList"
         [sortablejsOptions]="targetOptions"
         [sortablejsCloneFunction]="onEnd"
    >
      <div class="drawing-item" (click)="activeFormItem(item)" *ngFor="let item of drawingList;">
        <app-draggable-item [drawingItem]="item" [activeId]="activeId"></app-draggable-item>
      </div>
    </div>
  </div>
  <div class="right-board">
    <app-right-panel [activeData]="activeData"></app-right-panel>
  </div>
</div>
